*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 100px 0;

    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    display: flex;
    gap: 20px;
}

.column {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.clicked {
    background-color: rgba(233, 20, 20, 0.787);
    transition: all 0.3s;
}

.hit {
    background-color: rgba(248, 228, 12, 0.787);
    transition: all 0.3s;
}

.sunk {
    background-color: rgba(32, 199, 2, 0.787);
    transition: all 0.3s;
}
